.house-container {
  height: 40vh;
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
}

.house-button {
  background: #00000074;
  color: white;
  font-weight: 700;
  border: 2px solid red;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  width: 100%;
  text-decoration: none;
}
