@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Varta', sans-serif;    
  background: rgba(218, 239, 255, 0.871);
}
